* {
  margin: 0;
  padding: 0;
  font-size: 16ox;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.title {
  width: 100%;
  background-color: #5a4118;
  padding: 0.5em;
  color: #cc881c;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  -webkit-animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(90, 65, 24, 1) 95%
  );

  padding-top: 2em;
  margin-bottom: 1em;
}

.header_titel {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  margin-bottom: 1em;
  border-radius: 25px 25px 0 0;
}

.header h1 {
  width: 100%;
  color: #fff;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  font-size: 50px;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 4px #434343;
}

.header h3 {
  font-size: 14px;
  margin-left: 15px;
  color: #795f35;
}

.header img {
  width: 5vh;
}

article {
  width: 100%;
  padding: 2em;
}

.featured,
article img {
  width: 100%;
  margin-bottom: 1em;
}

article img:hover {
  opacity: 0.7;
}

article h2 {
  margin: 1em 0;
  color: #795f35;
  font-style: oblique;
}

.footer {
  width: 100%;
  padding: 2em;
  background-color: #5a4118;
  color: #fff;
}

.footer h4 {
  width: 100%;
  color: #cc881c;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  font-size: 15px;
  margin-bottom: 1em;
}

.footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.footer a {
  margin: 0.5em;
  padding: 0.5em;
  width: 85%;
  height: 4vh;
  border: 1px solid #795f35;
  text-align: center;
  text-decoration: none;
  color: #795f35;
}

.footer a:hover {
  color: #fff;
  border: 1px solid #fff;
  background: #795f35;
}

#contact {
  width: 100%;
  padding: 2em;
  background-color: #3c290a;
  color: #795f35;
}

#contact ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact li {
  padding: 0.2em;
}

@media screen and (min-width: 768px) {
  .header_titel {
    background: #fff;
    width: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 1em;
    border-radius: 25px 25px 0 0;
  }

  article {
    width: 650px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  article img {
    width: 35%;
    margin-bottom: 1em;
  }

  article span {
    width: 60%;
    margin-left: 1em;
  }

  article h2 {
    width: 100%;
    margin: 1em 0;
    color: #795f35;
    font-style: oblique;
  }

  .featured {
    width: 100%;
    margin-bottom: 1em;
  }

  .footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }

  .footer a {
    margin: 0.5em;
    padding: 0.5em;
    width: 180px;
    height: 3vh;
    font-size: 9px;
  }

  #contact ul {
    list-style: disc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #contact li {
    padding: 0.2em;
    margin: 0 10px;
    font-size: 10px;
  }

  .disc {
    list-style: none;
  }
}
